@import '~antd/es/style/themes/default.less';

.container > * {
  background-color: @popover-bg;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.container {
  .ant-dropdown-menu {
    padding: 8px 0;
    border-radius: 8px;
  }
  
  .ant-dropdown-menu-item {
    padding: 10px 16px;
    font-size: 14px;
    
    &:hover {
      background-color: #f5f5f5;
    }
    
    .anticon {
      margin-right: 10px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
