.responseTimeDivStyle {
  display: inline-block;
  width: 'calc(50% - 8px)';
}

.responseTimeSplit {
  margin-top: 43px;
  margin-left: -5px;
}
.uploadContractButton {
  margin-top: 40px;
}
.modalButtons {
  display: flex;
  justify-content: flex-end;
}
.inputTitle {
  width: 515px;
}
