.tableHeight {
  height: 80vh;
  margin-bottom: 30px;
}
.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.addressInputStyle {
  width: 493px;
}
.nameFilter {
  width: 216px;
  padding-bottom: 20px;
}

canvas {
  display: inline-block;
}
